<h1>Edit Product</h1>
<form class="" action="/products/<%= product.id %>" name="_method" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <div class="">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= product.title %>" />
  </div>

  <div class="">
    <label for="description">Description</label>
    <textarea type="text" id="description" name="description"><%= product.description %></textarea>
  </div>

  <div class="">
    <label for="price">Price</label>
    <input type="text" id="price" name="price" value="<%= product.price %>" />
  </div>

  <div class="">
    <label for="sale_price">Sale_price</label>
    <input type="text" id="sale_price" name="sale_price" value="<%= product.sale_price %>" />
  </div>
  <input type="submit" value="Submit">

</form>
