<%- include('../partials/header') %>

<a href="/products">Back</a>
<h1><%= product.title %></h1>
<p><%= product.description %></p>
<p><strong>Created At:</strong> <%= product.createdAt %></p>
<a href="/products/<%= product.id %>/edit">Edit</a>

<h2>Reviews</h2>
 <form class="" action="/products/<%= product.id %>/reviews" method="post">

   <label for="content">Content:</label>
   <div class="">
     <textarea id="content" name="content" rows="8" cols="80"></textarea>
   </div>

   <label for="rating">Rating:</label>
   <div class="">
     <input type="text" id="rating" name="rating" />
   </div>

   <input type="submit" value="Submit">
 </form>

 <ul class="review-list">
   <% reviews.forEach(review => { %>
       <li>
         <p>Review:<%= review.content %></p>
         <p>Rating:<%= review.rating %></p>
         <a href="/reviews/<%= review.id %> ">Edit</a>
         <form action="/products/<%= product.id %>/reviews/<%= review.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Delete" />
         </form>
       </li>
     <% }) %>
 </ul>

<%- include('../partials/footer') %>
